<div class="d-flex flex-row-reverse bd-highlight">
    <form class="d-flex" action="/cart" method="post">
      <input type="submit" value="🛒 <%= alleItems %> Artikel im Warenkorb" class="btn btn-outline-success">
    </form>
    <% console.log("cartButton.ejs loaded"); %>
  </div>

