<%- await include('frontend/header.ejs', { title: 'Info' }) %>
<h2>your order has been completed </h2>
<p>Hello <%= firstName %> <%= lastName %></p>
<p>Thanks for ordering on BBZW Dorfladen</p>
<ul>
  
</ul>
<%- await include('frontend/footer.ejs') %>