<%- await include('frontend/header.ejs', { title: 'Info' }) %>
<div class="container">
    <div class="row">
      <div class="row-sm">
        <h4> Die Bestellung ist abgeschlosssen! </h4>
      </div>
      <div class="row-sm">
        <h3>Guten Tag <%= firstName %> <%= lastName %></h3>
      </div>
      <div class="row-sm">
        <h4>Vielen Dank für Ihre Bestellung bei BBZW Dorfladen!</h4>
      </div>
    </div>
  </div>
<%- await include('frontend/footer.ejs') %>