</body>

<div class="footerStyle">
    <footer class="bg-dark text-center text-white">
        <div class="text-center p-3">
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
    </footer>
</div>
<style>
     .footerStyle
    {
    background: linear-gradient(to top, #b3b600 0%, #ffffff 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    text-align: center; 
    }
</style>
</div>
<% console.log("footer.ejs loaded"); %>
</html>