</body>

<div class="footerStyle">
    <footer class="bg-dark text-center text-white">
        <div class="text-center p-3">
          © 2022 Copyright:
          <a class="text-white" href="/">BBZW Dorfladen Shop</a>
        </div>
    </footer>
</div>
<style>
     .footerStyle
    {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    text-align: center; 
    }
</style>
</div>
<% console.log("footer.ejs loaded"); %>
</html>