</body>
<div class="footer fixed-bottom">
        <footer class="bg-dark text-center text-white">
            <div class="text-center p-3">
              © 2022 Copyright:
              <a class="text-white" href="/">BBZW Dorfladen Shop</a>
            </div>
        </footer>
</div>
<% console.log("footer.ejs loaded"); %>
</html>