</body>
<div class="footerStyle">
<h2>Footer</h2>
</div>
<style>
    .footerStyle
    {
    background: linear-gradient(to top, #b3b600 0%, #ffffff 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    text-align: center;
    }
</style>
</div>
<% console.log("footer.ejs loaded"); %>
</html>