<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBZW Dorfladen</title>
    <link rel="stylesheet" href="//style/style.css">
    <script type="text/javascript" src="/Partial_Template/script/script.js"></script>

    <div class="headerStyle">
       <h1 class="headerStyle"> BBZW Dorfladen</h1> 
    </div>
</head>
<style>
  .headerStyle
  {
    background: linear-gradient(to top, #f34d00 0%, #ffffff 100%);
  
  }
  h1
  {
    text-align: center;
    font-size: 350%;
    font-family: 'Times New Roman';
  }
</style>
<% console.log("header.ejs loaded"); %>
<body>