<%- await include('frontend/header.ejs', { title: 'LogOut' }); %>
  
    <div class="container">
        <% console.log("LogOut.ejs loaded"); %>
        <form action="/finish" method="post">
            <div class="form-row">
                <div class="col-md-9 mb-3">
                  <label for="validationCustom01">Vorname</label>
                  <input type="text" class="form-control" id="validationCustom01" placeholder="Vorname" name="first-name"  required>
                  <div class="valid-feedback">
                    sieht gut aus!
                  </div>
                </div>
                <div class="col-md-9 mb-3">
                  <label for="validationCustom02">Nachname</label>
                  <input type="text" class="form-control" id="validationCustom02" placeholder="Nachname" name="last-name" required>
                  <div class="valid-feedback">
                    sieht gut aus!
                  </div>
                </div>
                <div class="col-md-9 mb-3">
                  <label for="validationCustomUsername">E-Mail</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend">Lapis E-Mail</span>
                    </div>
                    <input type="text" class="form-control" id="validationCustomUsername" placeholder="E-Mail" aria-describedby="inputGroupPrepend" required>
                    <div class="valid-feedback">
                      Tolle E-Mail adresse.
                    </div>
                  </div>
                </div>
              </div>           
              
              <button class="btn btn-outline-primary" type="submit">Bestellen</button>
        </form>
        <a href="/cart"><button class="btn btn-outline-danger">Zurück</button></a>
    </div>
<%- await include('frontend/footer.ejs'); %>
