<%- await include('frontend/header.ejs', { title: 'Test' }) %>
<%- await include('frontend/cartButton.ejs', { totalItems: totalItems}); %>
<form action="/product" method="post">
    <input type="text" name="productId" value="001" required>
    <input type="submit" value="product">
</form>
<form action="/info" method="post">
    <input type="text" name="first-name" value="Hans" required>
    <input type="submit" value="info">
</form>
<%- await include('frontend/footer.ejs') %>